*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.container{
    width: 100%;
    margin: 0 auto;   
    display: flex;
    justify-content: center; 
                                 
}
.bgcolor-blu{
    background-color: rgba(0,132,253) ;
}
.row{
    max-width: 400px;
    width: 100%;

}

.row-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
                                    
                                    background-color: rgba(0,132,253);
}
.column-menu{
    
    padding: 10px 0px;
    
                                    
}
.img-logo{
    width: 80%;
}
.hamburger-menu{
    text-align: end;
    font-size: 30px;

}
.menu-desktop{
    display: none;
}
.elenco-desktop{
    list-style: none;
   
    
}
.lista-desktop{
    display: inline-block;
    
}
.link-desktop{
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}
.get-started{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
}

/* SECTION BLU */
.bgcolor-bianco{
    background-color: white;
    padding-bottom: 40px;
}
.row-blu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: white;
   
                                    
                                   
}

.column-blu, .column-blu-grande{
    width: 100%;
    background-color: rgba(181,221,255);
    padding: 30px 40px;
    margin: 20px 0px;
    border-radius: 20px;                               
}      
 
.titolo-blu{
    color: rgba(0,132,253);
    padding: 20px 0px;

}
.paragrafo-blu{
    padding: 30px 0px;
    line-height: 30px;
    color: rgba(92,112,130);
}
.button-appstore{
    background-color: rgba(0,132,253);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 50px;
    font-size: 20px;
}
.img-phone{
    width: 100%;
    padding-top: 30px;
}
.icona-blu{
    font-size: 100px;
}
.titolo-centrale, .icona-blu{
    text-align: center;
}
.paragrafo-centrale{
    text-align: center;
}
/* SECTION VIOLA*/
.bgcolor-viola{
    background-color: rgba(151,146,228);
    padding-bottom: 40px;
}
.row-viola{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
                                   
                                    
}
.column-viola{
    width: 100%;
                                    
                                    
}
.img-computer{
    width: 100%;
}
.titolo-bianco{
    color: white;
    padding: 40px 0px;
    font-size: 35px;
}
.paragrafo-bianco{
    color: white;
    line-height: 30px;
    padding-bottom: 40px;
}
.viola-destra{
    background-color: white;
    border-radius: 60px;
    text-align: center;
}
.titolo-nero, .paragrafo-nero{
    text-align: center;
    padding: 20px 30px;
}
.paragrafo-nero{
    line-height: 30px;
    padding-bottom: 80px;
}
.freccia{
    
    background-color: rgba(151,146,228) ;
    color: rgba(62,61,89);
    padding: 10px 15px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
}


/* SECTION TESTIMONIALS*/
.row-testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
                                    height: 1500px;
                                    background-color: crimson;
}
.column-testimonials{
    width: 100%;
                                    height: 400px;
}
.row-name{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
                                    height: 400px;
}
.col-img, .col-testimonianze{
    width: 100%; 
                                    height: 200px;
                                    background-color: cyan;
}
.col-testimonianza{
    width: 100%;
                                    height: 200px;
                                    background-color: green;
}


/* SECTION BENEFITS*/
.row-benefits{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
                                    height: 2000px;
                                    background-color: darkslategrey;
}
.titolo-benefits{

}

.column-benefits{
    width: 100%;
                                    height: 100px;
                                    background-color: darkseagreen;
}
/* SECTION ABOUT US*/
.row-aboutus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
                                    height: 1000px;
                                    background-color: dodgerblue;
}
.column-aboutus{
    width: 100%;
                                    height: 400px;
                                    
}
.column-aboutus-testo{
                                    background-color: burlywood;
}
.column-aboutus-img{
                                    background-color: chocolate;
}
/* SECTION GET STARTED*/
.row-started{
    max-width: 400px;
    width: 100%;
                                    height: 300px;
                                    background-color: rgb(102, 6, 6);
}
.column-strated{
    width: 100%;
}
/* FOOTER */
.row-footer{
    max-width: 400px;
    width: 100%;
                                    height: 300px;
                                    background-color: black;
}
.column-footer{
    width: 100%;
}

/* RESPONSIVE */
/* TABLET */
@media screen and (min-width: 768px){
    /* HEADER */
    .row{
        max-width: 730px;
        width: 100%;
        
    }
    /* SECTION BLU */
    .column-blu-grande{
        width: calc(100% / 3 * 2 - 10px);
                                    background-color: rgba(181,221,255);
                                    

    }
    .column-blu{
        width: calc(100% / 3 - 10px);
    }
    /* SECTION VIOLA */

    /* SECTION TESTIMONIALS*/
    
    .col-img{
        width: 30%;
    }
    .col-testimonianza{
        width: 70%;
    }
    /* SECTION BENEFITS*/
    .row-benefits{
        gap: 10px;
                                    height: 500px;
    }
    .column-benefits{
        width: calc(100% / 2 - 10px);

    }

    /* SECTION ABOUT US*/
    .row-aboutus{
                                    height: 300px;
    }
    .column-aboutus-testo{
        width: 60%;

    }
    .column-aboutus-img{
        width: 40%;

    }

    /* SECTION GET STARTED*/
    /* FOOTER */

}
/* DESKTOP */
@media screen and (min-width: 1200px){
    /* HEADER */
    .row{
        max-width: 991px;
        width: 100%;
        
    }
    .menu-smartphone{
        display: none;
    }
    .menu-desktop{
        display: inline-block;
    }


    /* SECTION BLU */
    /* SECTION VIOLA */
    .row-viola{
        max-width: 750px;
        gap: 10px;
    }
    .viola-sinistra{
        width: calc(50% - 10px);
        padding-top: 100px;
        
    }
    .img-computer-sinistra{
        padding: 30px 0px;
    }
    .paragrafo-bianco{
        font-size: 12px;
        line-height: 20px;
    }
    .viola-destra{
        width: calc(50% - 10px);
        text-align: center;
        max-height: 60%;
        position: relative;
        top: 255px;
    }
    .titolo-nero{
        padding: 0px 30px;
    }
    .img-computer-destra{
        width: 60%;
    }
    .paragrafo-nero{
        padding-bottom: 0px;
    }


    /* SECTION TESTIMONIALS*/

    /* SECTION BENEFITS */
    .row-benefits{
        gap: 10px;
                                    height: 200px;
    }
    .column-benefits{
        width: calc(100% / 3 - 10px);

    }
    /* SECTION ABOUT US*/
    /* SECTION GET STARTED*/
    /* FOOTER */
    
}


