*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.container{
    width: 100%;
    margin: 0 auto;   
    display: flex;
    justify-content: center; 
                                 
}
.row{
    max-width: 400px;
    width: 100%;

}
.container-header{
    
}
.row-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
                                    height: 40px;
                                    background-color: rgba(0,132,253,255);
}
.column-menu{
    
    width: 20%;
    background-color: white;
                                    height: 20px;
}
/* SECTION BLU */
.bgcolor-bianco{
    
}
.row-blu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
                                    height: 1000px;
                                    background-color: aquamarine;
}

.column-blu{
    width: 100%;
    
                                    height: 200px;
                                    background-color: antiquewhite;
}
/* SECTION VIOLA*/
.bgcolor-viola{
    
}
.row-viola{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
                                    height: 1000px;
                                    background-color: blue;
}
.column-viola{
    width: 100%;
                                    height: 400px;
                                    background-color: brown;

}


/* SECTION TESTIMONIALS*/
.row-testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
                                    height: 1500px;
                                    background-color: crimson;
}
.column-testimonials{
    width: 100%;
                                    height: 400px;
}
.row-name{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
                                    height: 400px;
}
.col-img, .col-testimonianze{
    width: 100%; 
                                    height: 200px;
                                    background-color: cyan;
}
.col-testimonianza{
    width: 100%;
                                    height: 200px;
                                    background-color: green;
}


/* SECTION BENEFITS*/
.row-benefits{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
                                    height: 2000px;
                                    background-color: darkslategrey;
}
.titolo-benefits{

}

.column-benefits{
    width: 100%;
                                    height: 100px;
                                    background-color: darkseagreen;
}
/* SECTION ABOUT US*/
.row-aboutus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
                                    height: 1000px;
                                    background-color: dodgerblue;
}
.column-aboutus{
    width: 100%;
                                    height: 400px;
                                    
}
.column-aboutus-testo{
                                    background-color: burlywood;
}
.column-aboutus-img{
                                    background-color: chocolate;
}
/* SECTION GET STARTED*/
.row-started{
    max-width: 400px;
    width: 100%;
                                    height: 300px;
                                    background-color: rgb(102, 6, 6);
}
.column-strated{
    width: 100%;
}
/* FOOTER */
.row-footer{
    max-width: 400px;
    width: 100%;
                                    height: 300px;
                                    background-color: black;
}
.column-footer{
    width: 100%;
}

/* RESPONSIVE */
/* TABLET */
@media screen and (min-width: 768px){
    /* HEADER */
    .row{
        max-width: 730px;
        width: 100%;
        
    }
    /* SECTION BLU */
    .column-blu-grande{
        width: calc(100% / 3 * 2 - 10px);
                                    background-color: rgb(104, 148, 133);
                                    height: 200px;

    }
    .column-blu{
        width: calc(100% / 3 - 10px);
    }
    /* SECTION VIOLA */

    /* SECTION TESTIMONIALS*/
    
    .col-img{
        width: 30%;
    }
    .col-testimonianza{
        width: 70%;
    }
    /* SECTION BENEFITS*/
    .row-benefits{
        gap: 10px;
                                    height: 500px;
    }
    .column-benefits{
        width: calc(100% / 2 - 10px);

    }

    /* SECTION ABOUT US*/
    .row-aboutus{
                                    height: 300px;
    }
    .column-aboutus-testo{
        width: 60%;

    }
    .column-aboutus-img{
        width: 40%;

    }

    /* SECTION GET STARTED*/
    /* FOOTER */

}
/* DESKTOP */
@media screen and (min-width: 1200px){
    /* HEADER */
    .row{
        max-width: 991px;
        width: 100%;
        
    }


    /* SECTION BLU */
    /* SECTION VIOLA */
    .viola-sinistra{
        width: 50%;
                                        background-color: rgb(32, 52, 52);
    }
    .viola-destra{
        width: 50%;
                                        background-color: rgb(34, 146, 146);
    }

    /* SECTION TESTIMONIALS*/

    /* SECTION BENEFITS */
    .row-benefits{
        gap: 10px;
                                    height: 200px;
    }
    .column-benefits{
        width: calc(100% / 3 - 10px);

    }
    /* SECTION ABOUT US*/
    /* SECTION GET STARTED*/
    /* FOOTER */
    
}


